# Vitis build directories
build_dir* 
_x*
packaged_kernel_*
tmp_kernel_pack_*
.ipcache
.Xil

# object files
*.xo
*.o

# binaires
*.xclbin
*.xclbin.info
host

# Vitis profile files
*.csv
system_estimate.xtxt
*.run_summary

# logs
*.log
*.jou

# runtime data
*.run

# vscode config
.vscode